name: build
on:
  pull_request:
    branches: "**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: np-complete/build-book-action@v1
        with:
          config: config.ebook.yml
      - uses: actions/upload-artifact@v3
        with:
          name: book
          path: book.pdf
  textlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: tsuyoshicho/action-textlint@v3
        with:
          fail_on_error: true
